<section class="slider-section">
  <header class="header">
    <nav class="nav">
      <a class="nav-logo" href="../index.html" aria-label="Site logo">
        Logo Company
      </a>
    </nav>
  </header>

    <div class="slider-container">
        <div class="slides">
          <ul class="slides-list">
            <li class="slide active">
              <img class="image1" alt="First image" src="../img/slides/Slide-1.png">
            </li>
            <li class="slide">
              <img class="image2" alt="Second image" src="../img/slides/Slide-2.png">
            </li>
          </ul>
              </div>

         <button id="prev"
          aria-label="Previous image"
          class="button-prev">
          <svg class="icon-prev" width="40" height="24">
            <use xlink:href="../img/svg/sprite.svg#icon-arrow-left"></use>
          </svg>
         </button>
         <button id="next"
          aria-label="Next image"
          class="button-next">
          <svg class="icon-prev" width="40" height="24">
            <use xlink:href="../img/svg/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>

    </div>

</section>
